scipy
numpy
jupyter
pandas
mahotas
scikit-image
scikit-learn>=0.19
keras>=2.0.0
h5py
tensorflow
matplotlib
https://api.github.com/repos/paris-saclay-cds/ramp-workflow/zipball/master
git+https://github.com/paris-saclay-cds/ssd_keras
